operators

In [ ]:
a=6
b=5
print(a==b)

False

operator

In [ ]:
print((a>b) or (a<b))

True

control flow

In [ ]:
#conditional if
#write a program to get a number from the user and check whether it is positive or negative
a=20
if (a>0):
  print("positive")
else
  print("negative")

positive

In [ ]:
a=0
if (a>0):
  print("positive")
elif(a==0):
  print("neutral")
else:
  print("negative")

neutral

whilw loop

four table

In [ ]:
n=7
for i in range (1,11,1):
  a=n*i
  print(a)

7
14
21
28
35
42
49
56
63
70

collection

collections:
list:
heterogeneous
mutable

In [ ]:
l=["divya",5,60.8]
print(l)

['divya', 5, 60.8]

In [ ]:
l=[]
n=int(input("enter n"))
for x in range(n):
  x=int(input("enter elements"))
  l.append(x)
print("list is",l)

enter n5
enter elements1
enter elements2
enter elements3
enter elements4
enter elements5
list is [1, 2, 3, 4, 5]

In [ ]:
for i in l:
  print(i)

1
2
3
4
5

In [ ]:

l.insert(3,"hai")
print(l)

[1, 2, 3, 'hai', 4, 5]

In [ ]:
l1=["divya"]
l2=["gopi"]
l1.extend(l2)
print(l1)

['divya', 'gopi']

In [ ]:
l.pop(2)
print(l)

[1, 2, 'hai', 4, 5]

In [ ]:
l.remove(1)
print(l)

[2, 4, 5]

In [ ]:
from pickle import LONG4
l3=[2,3,4]
l4=[i**2 for i in l3]
print(l4)

[4, 9, 16]

In [ ]:
l3=[2,3,4]
l4=[i**2 for i in l3 if i>3]
print(l4)

[16]

#the salaries of in a company is taken as a list.the tax is 10% if the salary is less than or =to 50000
#[67000,45000,89000,34000]
#listname=[(body of if)(condition) else (body of else) iterator] 5 employees

In [ ]:
sal=[45000,69000,71000,36000,96000]
tax=[]
for i in sal:
  if i<=50000:
    t=i*0.15
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[6750.0, 10350.0, 10650.0, 5400.0, 14400.0]

In [ ]:
sal=[45000,69000,71000,36000,96000]

In [ ]:
a=5
print("i am ",1,"years old")

i am  1 years old

In [ ]:
#arithematic
a=5
b=25
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(b**a)

30
-20
125
0
5
9765625

In [ ]:
#relational
a=10
b=20
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a<=b)
print(a>=b)

False
False
True
True
True
False

In [ ]:
#logical
a=16
b=18
print((a>b) and (a<b))
print((a>b) or (a<b))

False
True

In [ ]:
a="divya"
print("a"in a)
print("b"in a)

True
False

In [ ]:
a=12.7
b=9
print(a*b)

114.3

In [ ]:
a=11.9
b=2
print(int(a*b))

23

In [ ]:
a="7"
a=int(a)
print(type(a))

<class 'int'>

In [ ]:
a="hello world"
print(a[0:6])

hello

In [ ]:
print(a[::-1])

dlrow olleh

In [ ]:
print(a[::2])

hlowrd